exemplos/03-pagamentos-recorrentes-criar.json
{
  "name": "Mercado Pago - Criar Pagamento Recorrente",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-recurring",
      "name": "Quando clicar em 'Testar'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "recurringPayments",
        "operation": "create",
        "planId": "RECURRING_PLAN_123",
        "customerId": "CUSTOMER_456"
      },
      "id": "mercado-pago-recurring",
      "name": "Mercado Pago Recorrente",
      "type": "n8n-nodes-mercadopago-flow.mercadoPago",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "paymentMercadoPagoAPI": {
          "id": "1",
          "name": "Mercado Pago API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "recurring-id",
              "name": "recurringPaymentId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "plan-id",
              "name": "planId",
              "value": "={{ $json.planId }}",
              "type": "string"
            },
            {
              "id": "customer-id",
              "name": "customerId",
              "value": "={{ $json.customerId }}",
              "type": "string"
            },
            {
              "id": "next-billing",
              "name": "nextBillingDate",
              "value": "={{ $json.raw.next_billing_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Quando clicar em 'Testar'": {
      "main": [
        [
          {
            "node": "Mercado Pago Recorrente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mercado Pago Recorrente": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-30T00:00:00.000Z",
  "versionId": "1"
}

