exemplos/06-payments-criar-pagamento-cartao.json
{
  "name": "Mercado Pago - Criar Pagamento com Cartão",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-payment",
      "name": "Quando clicar em 'Testar'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "payments",
        "operation": "create",
        "transactionAmount": 100.50,
        "description": "Pagamento com cartão de crédito",
        "paymentMethodId": "credit_card",
        "payerEmail": "cliente@exemplo.com",
        "payerDocument": "12345678909",
        "installments": 1,
        "statementDescriptor": "LOJA EXEMPLO"
      },
      "id": "mercado-pago-payment",
      "name": "Mercado Pago Payment",
      "type": "n8n-nodes-mercadopago-flow.mercadoPago",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "mercadoPagoApi": {
          "id": "1",
          "name": "Mercado Pago API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "payment-id",
              "name": "paymentId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "amount",
              "name": "amount",
              "value": "={{ $json.amount }}",
              "type": "number"
            },
            {
              "id": "payment-method",
              "name": "paymentMethod",
              "value": "={{ $json.raw.payment_method_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Quando clicar em 'Testar'": {
      "main": [
        [
          {
            "node": "Mercado Pago Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mercado Pago Payment": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-02T00:00:00.000Z",
  "versionId": "1"
}

