exemplos/07-customers-criar-cliente.json
{
  "name": "Mercado Pago - Criar Cliente",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-customer",
      "name": "Quando clicar em 'Testar'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "customers",
        "operation": "create",
        "email": "cliente@exemplo.com",
        "firstName": "João",
        "lastName": "Silva",
        "documentType": "CPF",
        "documentNumber": "12345678909",
        "phoneAreaCode": "11",
        "phoneNumber": "987654321"
      },
      "id": "mercado-pago-customer",
      "name": "Mercado Pago Customer",
      "type": "n8n-nodes-mercadopago-flow.mercadoPago",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "mercadoPagoApi": {
          "id": "1",
          "name": "Mercado Pago API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer-id",
              "name": "customerId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "first-name",
              "name": "firstName",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "last-name",
              "name": "lastName",
              "value": "={{ $json.last_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Quando clicar em 'Testar'": {
      "main": [
        [
          {
            "node": "Mercado Pago Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mercado Pago Customer": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-02T00:00:00.000Z",
  "versionId": "1"
}

